@media screen and (min-width: 1105px) and (max-width: 1441px) {
  .cards {
    width: 550px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1755px) {
  .cards {
    width: 835px;
  }
}
@media screen and (min-width: 1756px) and (max-width: 2080px) {
  .cards {
    width: 1105px;
  }
}
@media screen and (min-width: 2080px) and (max-width: 2220px) {
  .cards {
    width: 1380px;
  }
}
@media screen and (min-width: 2080px) {
  .yourCart {
    width: 500px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .background {
    .cardsSection {
      .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .card {
          width: 48%;
          margin: 0 0 25px;
        }
      }
    }
  }
}
@media screen and (min-width: 1000px) and (max-width: 1105px) {
  .background {
    .cardsSection {
      .cards {
        width: 465px;
        .card {
          width: 400px;
        }
      }
    }
  }
}
