.yourCart {
  height: auto;
  width: 385px;
  flex-shrink: 0;
  flex-grow: 0.5;
  padding: 26px 24px;
  border-radius: 10px;
  background-color: white;
  h2 {
    margin-bottom: 25px;
    color: hsl(14, 86%, 42%);
  }
  .emptyCartImg {
    display: block;
    margin: 40px auto 15px;
  }
  .emptyCartText {
    display: block;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: hsl(12, 20%, 44%);
  }
  .cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding-bottom: 16px;
    margin: 18px 0;
    border-bottom: 1px solid hsl(13, 31%, 94%);
    &:last-child {
      padding-bottom: 25px;
    }
    &__name {
      margin-bottom: 10px;
      font-weight: 600;
      color: hsl(14, 65%, 9%);
    }
    &__quantity {
      margin-right: 16px;
      font-weight: 600;
      color: hsl(14, 86%, 42%);
    }
    &__price {
      margin-right: 8px;
      color: hsl(12, 20%, 44%);
    }
    &__totalPrice {
      font-weight: 600;
      color: hsl(12, 20%, 44%);
    }
    .deleteBtn {
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      padding: 0;
      border: 2px solid hsl(14, 25%, 72%);
      outline: inherit;
      cursor: pointer;
      font-family: inherit;
      text-align: center;
      text-decoration: none;
      background: none;
      transition: all 0.13s ease-in-out;
      svg {
        // height: 5px;
        fill: #caafa7;
        margin-bottom: 2px;
        transition: all 0.13s ease-in-out;
      }
      &:hover {
        border: 2px solid hsl(14, 65%, 9%);
        svg {
          fill: hsl(14, 65%, 9%);
        }
      }
    }
  }
  .orderTotal {
    display: none;
    // display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    p {
      &:nth-child(1) {
        font-size: 14px;
      }
      &:nth-child(2) {
        font-size: 24px;
        font-weight: 700;
        color: hsl(14, 65%, 9%);
      }
    }
  }
  .carbonNeutral {
    display: none;
    // display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 25px;
    background-color: hsl(20, 50%, 98%);
    img {
      height: 20px;
      margin-right: 10px;
    }
    p {
      font-size: 14px;
      color: hsl(14, 65%, 9%);
      span {
        font-weight: 600;
      }
    }
  }
  .confirmOrderButton {
    display: none;
    // display: inline-block;
    padding: 0;
    border: none;
    height: 50px;
    width: 100%;
    border-radius: 50px;
    outline: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background-color: hsl(14, 86%, 42%);
    color: white;
    transition: all 0.13s ease-in-out;

    &:hover {
      background-color: hsl(14, 86%, 32%);
    }
  }
}
